h3 {
  color: navy;
}

#weatherApp {
  border-color: red;
  border-width: 3px;
}
#searchBar {
  display: inline-block;
  width: 100%;
}
.currentIcon {
  text-align: center;
}
div #forecastRow {
  border-color: darkgray;
  border-width: 2.5px;
  color: navy;
}
#descriptionWeather:first-letter {
  text-transform: uppercase;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
}
